{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["module-resolver", {
      "root": ["./src/client"],
      "alias": {
      }
    }],
    "inline-react-svg"
  ],
  "env": {
    "development": {
      "plugins": [
        ["./external/babel-plugin-ignore-imports",
          {
            "extensions": [".scss"]
          }
        ]
      ]
    }
  }
}