
@import "scss/variables.scss";

.article-cell {
  display: flex;
  flex-direction: column;
  font-family: $font-family;
  background-color: $secondary-bg;
  color: $secondary-color;
}

.article-cell-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article-cell-bottom-label {
  padding: 10px;
}

.article-cell-bottom-hidden {
  height: 0;
  visibility: hidden;
}

.article-cell-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px 0 0 10px;
  width: 100%;
}

.article-cell-description {
  font-size: 1em;
}

.article-cell-composition {
  font-size: 0.75em;
}