@import 'scss/variables.scss';

.info-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: $font-family;
  background-color: $secondary-bg;
  color: $secondary-color;
  height: 40px;
}

.info-block-text {
  padding: 0 0 0 10px;
}

.info-block-arrow {
  background-image: url('../../../../../assets/rightArrow.svg');
  background-repeat: no-repeat;
  background-size: 15px;
  width: 15px;
  height: 15px;
}